<div class="container">
    <br>
    <h1 style="text-align: center;"><i><b>ALL QUESTIONS </b></i></h1>
    <form #getQuestionsByTestIdForm="ngForm" (ngSubmit)="getQuestionsByTestId(getQuestionsByTestIdForm)">
        <div class="form-group">
            <label class="form-group-level">Test Id</label>
            <input type="number" ngModel name="testId" required #testId ="ngModel"  >
            <!-- <input type="submit" value="Submit"> -->
            <button [disabled]="getQuestionsByTestIdForm.form.invalid" class="btn btn-primary" type="submit">Find Questions</button>

        </div>
    </form>
   

<div class="form-group">
    <div class= "container">
        <table class ="table">
            <thead class="thead-dark">
                <tr>
                    <th>Question Id</th>
                    <th>Question Title</th>
                    <th>Question Options</th>
                    <th>Question Answer</th>
                    <th>Question Marks</th>
                    <th>Chosen Answer</th>
                    <th>Marks Scored</th>
                </tr>
        
            </thead>
            <tbody *ngFor="let question of questions">
                <tr>
                    
                    <td>{{question.questionId}}</td>
                    <td>{{question.questionTitle}}</td>
                    <td>{{question.questionOptions}}</td>
                    <td>{{question.questionAnswer}}</td>
                    <td>{{question.questionMarks}}</td>
                    <td>{{question.chosenAnswer}}</td>
                    <td>{{question.marksScored}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</div>