<div class = "container-fluid mb-5">
    <h1 style="text-align: center;"><i><b>DELETE QUESTION </b></i></h1>
    <form #deleteForm = "ngForm" (ngSubmit)="deleteQuestion(deleteForm)">
        <div class="form-group">
            <label class="form-group'level">Question Id</label>
            <input type="number" required #questionId="ngModel" pattern="^\d+$" name="questionId" class="form-control" ngModel>
        </div>

        <div class="alert alert-danger" *ngIf="questionId.errors && (questionId.dirty || questionId.touched)">
            <div *ngif="questionId.errors.required"> 
                Question Id is required.
            </div>
        
            <div *ngIf="questionId.errors.pattern">
                   Question Id should be numeric.
            </div>
        </div>

        <button [disabled]="deleteForm.form.invalid" class="btn btn-primary" type="submit">Delete</button>
    </form>
</div>
<div class="container" *ngIf="show">
    <!-- <h3 style="color: red;">{{response}}</h3> -->
    <div *ngIf="response; else elseBlock">
        <h3 style="color: red;">Question Deleted Successfully</h3>
    </div>
    <ng-template #elseBlock><h5>No such Question found. Please re-check entered Question Id.</h5></ng-template>
 </div>